<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- Spring整合myBatis后，这个配置文件基本可以不要了-->
	<!-- 设置外部配置文件 -->
	<!-- 设置数据库连接环境 -->
	
	<!-- 设置类别名 -->
	<typeAliases>
		<package name="com.hklh8.higou.entity"/>
	</typeAliases>
	
	<!-- 映射文件 -->	
	<mappers>
		<mapper resource="com/hklh8/higou/dao/mapper/UserMapper.xml"/>
		<mapper resource="com/hklh8/higou/dao/mapper/AddressMapper.xml"/>
		<mapper resource="com/hklh8/higou/dao/mapper/CategoryMapper.xml"/>
		<mapper resource="com/hklh8/higou/dao/mapper/GoodsMapper.xml"/>
		<mapper resource="com/hklh8/higou/dao/mapper/OrderMapper.xml"/>
		<mapper resource="com/hklh8/higou/dao/mapper/OrderDetailMapper.xml"/>
	</mappers>
	
</configuration>